---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

import Layout from "../layouts/Layout.astro";

import CTA from "../components/CTA.astro";
import Tiles from "../components/Tiles.astro";
import Section from "../components/Section.astro";

interface Home {
  contentTypeId: "home";
  fields: {
    heroHeader: EntryFieldTypes.RichText;
    heroQuote: EntryFieldTypes.RichText;
    fundingNote: EntryFieldTypes.RichText;
    nonProfitNote: EntryFieldTypes.RichText;
  };
}

const home = await contentfulClient.getEntry<Home>("3V7dAsgvkJyOT6WoySbt4f");
---

<Layout title="The Hubb—Helping us be better">
  <div class="bodyWrapper">
    <CTA />

    <!-- hero ----------------------------------------------------------------->
    <Section classNames={["hero"]}>
      <div class="hero-inner">
        <div
          class="typography__hero"
          set:html={documentToHtmlString(home.fields.heroHeader)}
        />
        <div
          class="grid grid__two-thirds quote typography__alpha typography--light color--blue6"
          set:html={documentToHtmlString(home.fields.heroQuote)}
        />
      </div>
    </Section>

    <!-- funding note --------------------------------------------------------->
    <Section classNames={[]}>
      <div
        class="typography__alpha color--neutral8"
        set:html={documentToHtmlString(home.fields.fundingNote)}
      />
    </Section>

    <!-- tiles ---------------------------------------------------------------->
    <Tiles />

    <!-- non profit note ------------------------------------------------------>
    <Section classNames={[]}>
      <div
        class="typography__delta color--neutral8"
        set:html={documentToHtmlString(home.fields.nonProfitNote)}
      />
    </Section>
  </div>

  <style>
    .bodyWrapper {
      width: 100vw;
      justify-items: center;
      align-content: center;
    }

    .hero-inner {
      width: 100%;
      display: grid;
      row-gap: 48px;
    }
    .hero-inner .typography__hero {
      grid-column: 1 / span 6;
    }
    .typography__hero {
      font-family: "Merriweather", sans;
      font-size: var(--font-size-xxl);
      font-weight: var(--font-weight-bold);
      color: var(--color-blue6);
    }

    .quote {
      width: calc(100% - 24px);
      padding-left: 16px;
      border-left: 8px solid var(--color-blue6);
    }

    @media (max-width: 840px) {
      .hero-inner {
        row-gap: 24px;
      }
      .typography__hero {
        font-size: var(--font-size-lg);
      }
    }
  </style>
</Layout>
