---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

import Section from "./Section.astro";

interface Home {
  contentTypeId: "home";
  fields: {
    cta: EntryFieldTypes.RichText;
  };
}

const home = await contentfulClient.getEntry<Home>("3V7dAsgvkJyOT6WoySbt4f");
---

<Section classNames={["CTA"]}>
  <div class="grid grid__full--subgrid">
    <div class="grid grid__half">
      <div
        class="typography__alpha"
        set:html={documentToHtmlString(home.fields.cta)}
      />
    </div>
    <div class="grid grid__half">
      <a
        class="button"
        href="https://thehubb.betterworld.org/donate"
        target="blank"
      >
        <b class="typography__alpha typography--caps">Donate now!</b>
      </a>
    </div>
  </div>
</Section>

<style>
  .button {
    all: unset;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    background-color: var(--color-white);
    width: max-content;
    border-radius: 4px;
    color: var(--color-blue8);
    justify-self: end;
  }

  .button:hover {
    background-color: var(--color-blue4);
    cursor: pointer;
  }

  @media (max-width: 840px) {
    .button {
      justify-self: unset;
    }
  }
</style>
