---
import Section from "./Section.astro";
---

<Section classNames={["CTA"]}>
  <div class="grid grid__full--subgrid">
    <div class="grid grid__half">
      <p class="typography__alpha">
        <b> We&rsquo;re actively fundraising—please donate today! </b>
        <br />
        Program updates coming soon
      </p>
    </div>
    <div class="grid grid__half">
      <a
        class="button"
        href="https://thehubb.betterworld.org/donate"
        target="blank"
      >
        <b class="typography__alpha typography--caps">Donate now!</b>
      </a>
    </div>
  </div>
</Section>

<style>
  .button {
    all: unset;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    background-color: var(--color-white);
    width: max-content;
    border-radius: 4px;
    color: var(--color-blue8);
    justify-self: end;
  }

  .button:hover {
    background-color: var(--color-blue4);
    cursor: pointer;
  }

  @media (max-width: 840px) {
    .button {
      justify-self: unset;
    }
  }
</style>
