---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

import Section from "./Section.astro";

interface Home {
  contentTypeId: "home";
  fields: {
    footerLeft: EntryFieldTypes.RichText;
    footerRight: EntryFieldTypes.RichText;
  };
}
const home = await contentfulClient.getEntry<Home>("3V7dAsgvkJyOT6WoySbt4f");
---

<Section classNames={["footer"]}>
  <div class="grid grid__full--subgrid">
    <div class="grid grid__half">
      <div
        class="typography__alpha"
        set:html={documentToHtmlString(home.fields.footerLeft)}
      />

      <a
        class="typography__alpha"
        href="https://mailchi.mp/9e695de79495/hubb-newsletter-signup-form"
        target="_blank">Subscribe to email updates</a
      >

      <div class="social-icons">
        <a
          href="https://www.facebook.com/profile.php?id=61550649696448"
          target="_blank"><img src="fb.svg" /></a
        >
        <a href="https://www.instagram.com/thehubbonmain/" target="_blank"
          ><img src="insta.svg" /></a
        >
      </div>
    </div>
    <div class="grid grid__half">
      <div
        class="typography__alpha"
        set:html={documentToHtmlString(home.fields.footerRight)}
      />
    </div>
  </div>
</Section>
<style>
  .social-icons {
    display: flex;
    gap: 16px;
    height: 30px;
  }
  .social-icons > a {
    border: 0;
  }
  .social-icons > a > img {
    object-fit: contain;
    height: 30px;
  }
</style>
