---
import Section from "./Section.astro";
---

<Section classNames={[]}>
  <a href="/" class="logo">
    <img src="logo.svg" alt="The Hubb logo" />
  </a>

  <div class="grid grid__full--subgrid">
    <div class="grid grid__half title-wrapper">
      <h1 class="title">Helping Us Be Better</h1>
      <h2 class="subtitle">Community Resource Satellite Office</h2>
    </div>
    <div class="links-wrapper">
      <a
        class="typography__beta typography--link color--black"
        href="./calendar.html"
      >
        <b> Calendar</b>
      </a>
      <a
        class="typography__beta typography--link color--black"
        href="./news.html"
      >
        <b> News </b>
      </a>
    </div>
  </div>
</Section>
<style>
  .title-wrapper {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0;
    align-content: end;
    height: 100px;
    margin: 0;
  }

  .links-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    grid-column: 4 / span 3;
    justify-content: end;
    align-self: end;
  }
  .links-wrapper > a {
    color: black;
  }
  .links-wrapper > a:hover {
    color: var(--color-blue6);
  }

  .title {
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--color-orange8);
    margin: 0;
  }
  .subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    color: var(--color-black);
    margin: 0;
  }

  .logo {
    position: fixed;
    top: 24px;
    z-index: 10;
    grid-column: 1 / span 1;
    border: 0;
  }

  .logo > img {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 840px) {
    .title-wrapper {
      height: unset;
    }
    .links-wrapper {
      grid-column: 1 / span 3;
      justify-content: start;
    }

    .logo > img {
      width: 32px;
      height: 32px;
    }
    .title {
      font-size: var(--font-size-md);
    }
    .subtitle {
      font-size: var(--font-size-sm);
    }
  }
</style>
