---
import Section from "./Section.astro";
import Tile from "./Tile.astro";
---

<Section classNames={["tiles"]}>
  <div class="tile-wrapper">
    <Tile
      isWide
      backgroundColor="bgcolor--blue8"
      textColor="color--white"
      text="The Hubb will include programming for"
    />
    <Tile
      backgroundColor="bgcolor--neutral4"
      textColor="color--orange10"
      text="Students"
    />
    <Tile
      isWide
      backgroundColor="bgcolor--neutral2"
      textColor="color--blue6"
      text="Entrepreneurs"
    />
    <Tile
      backgroundColor="bgcolor--orange2"
      textColor="color--blue8"
      text="Families"
    />
    <Tile
      backgroundColor="bgcolor--neutral4"
      textColor="color--blue6"
      text="Senior Citizens"
    />
    <Tile
      isWide
      backgroundColor="bgcolor--orange2"
      textColor="color--orange10"
      text="Small Business Owners"
    />
    <Tile
      isWide
      backgroundColor="bgcolor--neutral4"
      textColor="color--orange10"
      text="Individuals in Recovery"
    />
    <Tile
      backgroundColor="bgcolor--neutral2"
      textColor="color--neutral8"
      text="& more"
    />
  </div>
</Section>

<style>
  .tile-wrapper {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 16px;
  }
  @media (max-width: 840px) {
    .tile-wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
  }
</style>
